[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "consensus-specs"]
	path = consensus-specs
	url = git@github.com:ethereum/consensus-specs.git
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/0xsooki/solady
[submodule "lib/solidity-rlp-encode"]
	path = lib/solidity-rlp-encode
	url = https://github.com/bakaoh/solidity-rlp-encode
