# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
consensus-specs-1.5.0-beta.5/

# Python
venv/
__pycache__/

.vscode/
*.pkl